* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;

}

.header {
    background-color: #1F2937;
    height: 90vh;
     color: #f9faf8;
    padding: 20px 100px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-right: 80px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #e5e7eb;
  
}

.hero {
  display: flex;             
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.hero-text {
  max-width: 450px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 20px;
}

.hero-text button {
  background-color: #3882f6;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.hero-image {
  flex-shrink: 0;            
}

.hero-image img {
  width: 600px;  
  height: 300px;             
  max-width: 100%;
  border-radius: 10px;
  padding-right: 80px;
}

.info {
  padding: 60px 120px;
  text-align: center;
}

.info-title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 50px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}


.card {
  max-width: 160px;
}

.card-image {
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.quote {
  background-color: #E5E7EB;
  padding: 80px 250px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote-author {
  font-size: 24px;
  text-align: right;
  font-weight: 900;
  margin-top: 20px;
  padding-right: 40px;
}


.cta {
  padding: 80px 100px;
}

.cta-box {
  background-color: #3882F6;
  border-radius: 10px;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.cta button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
}


.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 30px;
}